
body {
    margin: 1rem 0rem 0rem 0rem;
    padding: 2rem 0rem 0rem 0rem;
    background-color: #1e6d64;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: start;    

}
.top{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0rem;
    background: linear-gradient(315deg, #223f4b, #294b59);
    box-shadow:  -2.25rem -2.25rem 4.438rem #1b313a, 2.25rem 2.25rem 4.438rem #315b6c;
}
.top-left{
    position: relative;
    margin: -3rem 0rem -3rem 2rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
    font-size: 1.8rem;
    font-family:  "Segoe UI",Helvetica,Arial,sans-serif;
    color: #ffffff;
    text-shadow: 0rem 0rem 2rem #000000;
    border-radius: 1rem;
    background: linear-gradient(145deg, #223f4b, #294b59);
    box-shadow:  1.125rem 1.125rem 2.25rem #101d23,-1.125rem -1.125rem 2.25rem #3c6f83;
    
}
.top-right{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0rem 3rem 0rem 0rem;
    padding: 0rem;
    color: #ffffff;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 1rem;
}

#currentBugget{
    position: relative;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    color: #ffffff;
    text-shadow: 0rem 0rem 4rem #000000;


}
.addExpence{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 15rem;
    width: 65rem ;
    padding: 2rem;
    margin: 8rem 5rem 5rem 5rem;
    border-radius: 7px;
    background: #223f4b;
    box-shadow: inset 41px 41px 69px #172a32, inset -41px -41px 69px #2d5464, 41px 41px 69px #172a32;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    color: #ffffff;
    text-shadow: 0rem 0rem 4rem #000000;

}
.addExpenceInput{
    width: 100% ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 
}
.addExpenceInputAtt{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 110%;
}
.addExpenceButton{
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: #1e6d64;  
  display: block;
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem 1rem 90%;
  padding: 0.6rem 1.7rem;
  color: #ffffff;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  z-index: 1;
}
.addExpenceButton:hover{
    transform: translateY(-0.40em);
}
.addExpenceButton:active{
    transform: translateY(0);
    background-color: #0b2724;
}
.balanceButton{
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: #1e6d64;  
  display: block;
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin: 0rem;
  padding: 0.6rem 1.7rem;
  color: #ffffff;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  z-index: 1;
}
.balanceButton:hover{
    transform: translateY(-0.40em);
}
.balanceButton:active{
    transform: translateY(0);
    background-color: #0b2724;
}