
body {
    margin: 1rem 0rem 0rem 0rem;
    padding: 2rem 0rem 0rem 0rem;
    background-color: #32B6A7;
}
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: start;    

}
.top{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0rem;
    background: linear-gradient(315deg, #223f4b, #294b59);
    box-shadow:  -2.25rem -2.25rem 4.438rem #1b313a, 2.25rem 2.25rem 4.438rem #315b6c;
}
.top-left{
    position: relative;
    margin: -3rem 0rem -3rem 2rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
    font-size: 1.8rem;
    font-family:  sans-serif;
    color: #ffffff;
    text-shadow: 0rem 0rem 2rem #000000;
    border-radius: 1rem;
    background: linear-gradient(145deg, #223f4b, #294b59);
    box-shadow:  1.125rem 1.125rem 2.25rem #101d23,-1.125rem -1.125rem 2.25rem #3c6f83;
    
}
.top-right{
    position: relative;
    margin: 0rem 3rem 0rem 0rem;
    padding: 0rem;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
}
.bottom{
    position: absolute;
    margin: 1rem ;
    padding: 1rem;    
}
#currentBugget{
    position: relative;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 0rem 0rem 4rem #000000;


}